:root {
  /* Colors */
  --primary: #fffffe;
  --secondary: #f25f4c;
  --tertiary: #e53170;
/*  */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background: #0f0e17;
  color: #fffffe;
}

p{
  color: #a7a9be;
}

button{
  background: #ff8906;
  color: #fffffe;
}