:root {
  /* Colors */
  --primary: #fffffe;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  /*  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background: #0f0e17;
  color: #fffffe;
  list-style: none;
}

p {
  color: #a7a9be;
}

a {
  color: #a7a9be;
  text-decoration: none;
  cursor: pointer;
}

.navHeader {
  background: #0f0e17;
  position: sticky;
  font-size: 2rem;
  box-shadow: 1px 1px #fefefe;
  color: #fff;
  padding: 20px 30px;
}
.navHeader__access {
  width: 650px;
}
.navHeader__access-buscar-btn-buscar {
  height: 25px;
  width: 25px;
  text-indent: -9999px;
  overflow: hidden;
  background: #ff8906;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-image: url("lupa.png");
  border: none;
  border-radius: 0;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

.access {
  display: flex;
  justify-content: center;
}

.navHeader nav {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.navHeader ul {
  list-style: none;
}

.navHeader ul li {
  display: inline-block;
  padding: 10px 10px;
}

.navHeader a:hover {
  color: #ff8906;
}

.submenu-access {
  display: none;
  background-color: white;
  font-size: 1em;
}

.access-cuenta:hover > .submenu-access {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: absolute;
}

.resumen {
  display: none;
  background-color: white;
  width: 20em;
  height: 30rem;
  flex-direction: column;
  position: relative;
  right: 5%;
  overflow: scroll;
}

.detalle {
  display: flex;
  flex-direction: row;
}

.cant {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 15rem;
  justify-content: space-around;
}

.img-produc {
  width: 10rem;
  height: 10rem;
}

.finalizar-compra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carrito:hover > .resumen {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: absolute;
}

.banner {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  background: aqua url("opt2.png") center center/cover no-repeat;
}

.nom-1 {
  display: none;
}

.categorias {
  font-size: 20px;
  box-sizing: border-box;
  max-width: 25%;
  height: 25%;
  background-color: #0f0e17;
  border: 2px solid white;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cat-list {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 20px 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filtro {
  font-size: 20px;
  width: 25%;
  height: 25%;
  background-color: #0f0e17;
  border: 2px solid white;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.filtro-list {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filtro-list li {
  padding-bottom: 15px;
  padding-left: 15px;
}

.button {
  background: #ff8906;
  color: #fffffe;
  border: none;
  cursor: pointer;
}

li {
  padding-bottom: 10px;
}

.productos {
  position: absolute;
  left: 30%;
  top: 400px;
  font-size: 20px;
  width: 65%;
  height: 1050px;
  background-color: #0f0e17;
  border: 2px solid white;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-list {
  list-style: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
}
.product-list li {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-list .img-produc {
  position: relative;
  width: 20rem;
  height: 22rem;
}

.add {
  width: 30%;
}

.product-text {
  padding-top: 10px;
  padding-bottom: 20px;
}

.contenido {
  width: 100%;
  height: 1050px;
}

button {
  padding: 10px 20px;
  border: none;
}

.primary {
  background: #ff8906;
  color: #fffffe;
}

.secondary {
  background: transparent;
  color: #ff8906;
  border: 1px solid #ff8906;
}

/* newsletter */
.newsletter {
  max-height: 400px;
  color: #fff;
  text-shadow: 1px 1px #0f0e17;
  justify-content: space-around;
  background-color: white;
}

.newsletter__title {
  flex-basis: auto;
}

.newsletter__form {
  flex-basis: 60% !important;
}

.newsletter__form label {
  font-size: 1.8rem;
  padding-right: 2rem;
}

.newsletter__form input {
  font-size: 1.5rem;
  padding: 1rem;
}

.background {
  color: var(--primary);
  background-color: var(--black);
}

.footer .col {
  padding: 2rem;
  font-size: 1.8rem;
  flex-basis: 33.3%;
}

.background--white {
  color: var(--primary);
}

.background--img {
  background-image: url("/img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}

.container--primary {
  background: #fff;
}

.text-center {
  text-align: center;
}

.p-5 {
  padding: 3rem !important;
}

.container__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.col {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex: 0 0 auto;
}

.col-6 {
  margin: 0 auto;
  flex-basis: 50%;
}

h2 {
  font-size: 3rem;
}

@media (max-width: 720px) {
  body {
    font-size: 16px;
  }

  .textlabel {
    display: none;
  }

  .barra-lat {
    display: none;
  }

  .myaccount {
    display: none;
  }

  .nom {
    display: none;
  }

  .nom-1 {
    display: flex;
  }

  .nom-1:hover > .barra-lat {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
  }

  .banner {
    background-size: cover;
  }

  .resumen {
    display: none;
    right: 0%;
  }

  .carrito:hover > .resumen {
    display: none;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
  }

  .productos {
    position: absolute;
    left: 5%;
    top: 400px;
    font-size: 20px;
    width: 85%;
    height: 1050px;
    background-color: #0f0e17;
    border: 2px solid white;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
